<%- include("../common/header")%>

             
              
              <main class=" container-fluid">
                  <div class="cs ">

                
                <h1 class=" text-info  text-center">Ola mundo</h1>


                  </div>


              </main>

</body>
</html>