<%- include("../common/header")%>
<%- include("../common/menu")%>

             
              
              <main class=" container-fluid">
                  <div class="">

                
            
               <div class="container fs-3 text-light text-center ">
                 <div class="container-fluid my2 p-2">
                   <h3>Minha história </h3><br>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Architecto dolorum esse nesciunt! Sequi tempore quae fugiat officiis 
                    saepe odio fugit consectetur, impedit asperiores aperiam 
                   quasi veritatis doloremque esse minus magnam.</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Architecto dolorum esse nesciunt! Sequi tempore quae fugiat officiis 
                    saepe odio fugit consectetur, impedit asperiores aperiam 
                   quasi veritatis doloremque esse minus magnam.</p>

                 </div>
                 
               </div>
  
                  </div>


              </main>

</body>
</html>