

  <div class="c fixed-top">
    <ul class="nav centered ">
        <li class="nav-item">
          <a class="nav-link fs-3 text-light" aria-current="page" href="#">Biografia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-3 text-light" href="#">Contato</a>
        </li>
        
      </ul>
    <img src="./img/tab.gif" class="img-fluid " alt="...">
    
  </div>